<div id="footer1" class="px-4 py-4">

    <div  class="container mb-2 mt-3">
        <div class="row text-center d-flex" >
            <div class="col-md-4 px-3 py-1 text-white">
                <div> <h3>LOCATION</h3>
                <p class="py-2">2215 John Daniel Drive<br>
                    Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4 py-1 text-white">
                <div>
                     <h3>AROUND THE WEB</h3>
                     <ul class="socialLinks py-3 d-flex justify-content-around ">
                        <li><mat-icon svgIcon="facebook"></mat-icon></li>
                        <li><mat-icon svgIcon="twitter"></mat-icon></li>
                        <li><mat-icon svgIcon="linked"></mat-icon></li>
                        <li><mat-icon svgIcon="global"></mat-icon></li>
                        <li class="sp"></li>
    
                     </ul>
                </div>
            </div>
            <div class="col-md-4 px-4 py-1 text-white">
                <div><h3>ABOUT FREELANCER</h3>
                <p class="py-2">Freelance is a free to use, MIT<br> licensed Bootstrap theme created by<br> Route</p>
            </div>
            
             </div>
        </div>
    
</div>
</div>

<div id="footer2">
    <span class="text-white">Copyright © Your Website 2022</span>
</div>