<div id="contact">
    <div class="container">
        <div class="title text-center">
            <h1 class="pt-5">CONTACT ME</h1>
            <div  class="star">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" 
                fill="#2C3E50">
                    <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                </svg>
            </div>
        </div>
        <div class="row py-5">
            <form class="col offset-3">
                <input type="text" placeholder="Name" class="form-control w-75 py-3 mb-2" >
                <input type="email" placeholder="Email Address" class="form-control w-75 py-3 mb-2">
                <input type="number" placeholder="Phone Number" class="form-control w-75 py-3 mb-2">
                <textarea class="form-control w-75" placeholder="Message" rows="3"></textarea>
                <button class="btn btn-info mt-3">Send</button>
            </form>
           
          

        </div>
    </div>
</div>
