<div class="home vh-100  d-flex justify-content-center align-items-center flex-column">
    <div class="row text-center">
        <div class="data">
            <img src="../../assets/svg/human.svg" alt="human" class="rounded-circle w-50">
            <h1 class="py-3">START ANGULAR</h1>
            <div  class="star">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white">
                    <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                </svg>
            </div>
           
          
            <h2 class="text-white py-3 ">Graphic Artist - Web Designer - Illustrator</h2>
        </div>
     
       
    </div>
</div>